<div class="home__container">
  <app-card gameCover="assets/bt-1.jpg" gameLabel="DIGITAL" gameType="DIGITAL | PS4" gamePrice="R$129,99"></app-card>
  <app-card gameCover="assets/bt-4.jpg" gameLabel="EXCLUSIVE" gameType="DISC | PS5" gamePrice="269,99"></app-card>
  <app-card gameCover="assets/ac-cover.jpg" gameLabel="BEST OF THE YEAR" gameType="DIGITAL | PS5" gamePrice="369,99"></app-card>
  <app-card gameCover="assets/bt-5.jpg" gameLabel="NEW" gameType="DIGITAL | PS5" gamePrice="469,99"></app-card>
  <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="CLASSIC" gameType="DISC | PS3 PS4 PS5" gamePrice="259,99"></app-card>
  <app-card gameCover="assets/bt-hardline.jpg" gameLabel="CLASSIC" gameType="DISC | PS3 PS4" gamePrice="159,99"></app-card>
</div>
